<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676229746658-smkco22t84s9e9d24n9eigonnsd3hr0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676229746658-smkco22t84s9e9d24n9eigonnsd3hr0l</string>
	<key>API_KEY</key>
	<string>AIzaSyDBwMubKr5Cssq-oC8VHajt7K8Eev5wmD0</string>
	<key>GCM_SENDER_ID</key>
	<string>676229746658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authenticationapp</string>
	<key>PROJECT_ID</key>
	<string>login2-ff981</string>
	<key>STORAGE_BUCKET</key>
	<string>login2-ff981.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676229746658:ios:83f88abfece2ee1eee73bb</string>
</dict>
</plist>